.grid-title {
      margin-top: 3%;
      /*margin-left: 1%;*/
      padding-right: 0 !important;
   }
   .grid-title .list_gird {
      margin-bottom: 2%;
   }
   .wthree-news-info li {
      list-style: none; display: inline;
      margin-right: 3%;
      margin-top: 5%;
   }

   .wthree-news-info p {
      margin-top: -1%; 
   }

   .w3-agileits-news-left li {
      list-style: none; display: inline;
      margin-right: 3%;
   }

   .w3-agileits-news-left li i {
      margin-right: 1%;
   }

   .wthree-news-info li i {
      margin-right: 1%;
   }

   .title {
      /*width: 100%;*/
      padding-right: 0 !important;
   }

   .list-padding {
      margin-bottom: 0.2em;
   }

   .nav-tabs{
    margin-left: 0 !important;
   }

   .container-fluid{
    padding-left: 0;
   }