.btn-simple {
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
  text-decoration: underline !important;
  padding: 0 !important;
  margin: 0 !important;
}
.btn-simple > span {
  /* avoid button movement on click IE */
  position: relative;
}
#btn-share {
  position: relative;
  background: transparent;
}
#btn-share .popover {
  padding: 0;
  border-radius: 0;
  border: 0;
  box-shadow: none;
}
#btn-share .popover .popover-content {
  width: 234px;
  height: 49px;
  margin: 0;
  padding: 0;
}
#btn-share .popover .popover-content .btn-media {
  width: 78px;
  height: 49px;
  line-height: 49px;
  float: left;
  color: #fff;
  text-align: center;
  background: #052536;
}
#btn-share .popover .popover-content .btn-media.twitter {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#btn-share .popover .popover-content .btn-media.google-plus {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#btn-share .popover .popover-content .btn-media.facebook {
  border-left: 1px solid #264356;
  border-right: 1px solid #264356;
}
#btn-share .popover .popover-content .btn-media.facebook:after {
  position: absolute;
  bottom: -10px;
  margin-left: -21px;
  content: "";
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 10px solid #052536;
}
#btn-share .popover .popover-content .btn-media:hover,
#btn-share .popover .popover-content .btn-media:focus {
  background: #264356;
}
#btn-share .popover .popover-content .btn-media:hover.facebook:after,
#btn-share .popover .popover-content .btn-media:focus.facebook:after {
  border-top-color: #264356;
}
#btn-share .popover .popover-content .btn-media i {
  font-size: 30px;
  line-height: 49px;
}